@keyframes toast-mount {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes toast-unmount {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(300%);
  }
}

@keyframes toast-unfill {
  from {
    height: 100%;
  }

  to {
    height: 0%
  }
}

#toast-container {
  bottom: 4px;
  box-sizing: border-box;
  padding: 4px;
  position: fixed;
  z-index: 10000;

  > * {
    margin-top: 8px;
  }

  @media only screen and (min-width: 992px) {
    bottom: 30px;
    padding: 24px;
    right: 30px;
  }

  .toast-info {
    --active: var(--background-contrast-info-active) !important;
    --hover: var(--background-contrast-info-hover) !important;
    background-color: var(--background-contrast-info) !important;
    border-radius: 0.25rem;
    color: var(--text-default-info) !important;

    >.toast-colored-box {
      background-color: var(--info-main-525);
    }
  }

  .toast-warning {
    --active: var(--background-contrast-warning-active) !important;
    --hover: var(--background-contrast-warning-hover) !important;
    background-color: var(--background-contrast-warning) !important;
    color: var(--text-default-warning) !important;

    >.toast-colored-box {
      background-color: var(--warning-main-525);
    }
  }

  .toast-success {
    --active: var(--background-contrast-success-active) !important;
    --hover: var(--background-contrast-success-hover) !important;
    background-color: var(--background-contrast-success) !important;
    color: var(--text-default-success) !important;

    >.toast-colored-box {
      background-color: var(--success-main-525);
    }
  }

  .toast-error {
    --active: var(--background-contrast-error-active) !important;
    --hover: var(--background-contrast-error-hover) !important;
    background-color: var(--background-contrast-error) !important;
    color: var(--text-default-error) !important;

    >.toast-colored-box {
      background-color: var(--error-main-525);
    }
  }

  .toast {
    align-items: flex-start;
    animation: toast-mount .3s;
    border-radius: 0.25rem;
    box-shadow: 0 6px 18px 0 rgba(0, 0, 18, 0.16);
    display: flex;
    flex-wrap: nowrap;
    min-height: 40px;
    position: relative;
    right: 0;
    top: 0;
    width: calc(100vw - 8px);

    @media only screen and (min-width: 992px) {
      width: 400px;
    }

    &:hover {
      .toast-progress-bar {
        animation-play-state: paused;
      }
    }

    .toast-btn-close {
      border-radius: 100%;
      height: 32px;
      position: absolute;
      right: 2px;
      top: 2px;
      width: 32px;

      span {
        margin-right: 0px;
        padding-bottom: 6px;
      }

      &:hover {
        background-color: var(--active-tint);
      }
    }

    .toast-progress-bar {
      animation-name: toast-unfill;
      animation-play-state: running;
      animation-timing-function: linear;
      background: rgba(0, 0, 18, 0.16);
      bottom: 0;
      left: 0;
      position: absolute;
      width: 40px;
    }

    .toast-colored-box {
      align-items: center;
      border-bottom-left-radius: 0.25rem;
      border-top-left-radius: 0.25rem;
      bottom: 0;
      display: flex;
      justify-content: center;
      position: absolute;
      top: 0;
      width: 40px;

      span {
        color: var(--background-alt-grey);
        font-size: 1.8em;
        margin-left: 9px;
        z-index: 100;
      }
    }

    .toast-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 40px;
      padding: 8px;
      width: 100%;
    }
  }
}