.p-paginator-left-content {
  width: 60%;
}

.p-paginator-left-content .before-toggle {
  align-items: center;
  color: #161616;
  display: flex;
  font-size: 17px;
  font-weight: 400;
  justify-content: right;
  margin-bottom: 5px;
  padding-right: 5px;
}

.fr-toggle input[type=checkbox]:checked~.fr-toggle__label[data-fr-unchecked-label][data-fr-checked-label]:before  {
  content: "";
  margin-right: 5px;
}
.fr-toggle label[data-fr-unchecked-label][data-fr-checked-label]:before {
  margin: 0;
}