.dropdown {
  display: inline-block;
  position: relative;
  z-index: 20;

  .dropdown-content {
    display: none;
    min-width: 160px;
    position: absolute;
    z-index: 20;
  }
}

.dropdown.enabled:hover .dropdown-content {
  display: block;
}