.gauge-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .gauge-bar {
        height: 32px;
        position: relative;
        color: white;
        padding: 3px 8px;
        font-size: small;
        margin-bottom: 10px;

        &:first-child {
            border-radius: 15px 0 0 15px;
        }

        &:last-child {
            border-radius: 0 15px 15px 0;
        }
    }
}