.gauge-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  .gauge-bar {
    color: white;
    font-size: small;
    height: 32px;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 3px 8px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap; 

    &:first-child {
      border-bottom-left-radius: 15px;
      border-top-left-radius: 15px;
    }
    &:last-child {
      border-bottom-right-radius: 15px;
      border-top-right-radius: 15px;
    }

    &.excluded {
      background-color: var(--background-contrast-error);
      color: var(--text-default-error);
    }
    &.tobedecided {
      background-color: var(--background-contrast-info);
      color: var(--text-default-info);
    }
    &.validated {
      background-color: var(--background-contrast-success);
      color: var(--text-default-success);
    }
  }
}