body {
  height: auto;
}

.fr-tags-group>li {
  line-height: 0rem;
}

.text-right {
  text-align: right;
}

.header {
  animation: 1s ease-in-out 0s normal none 1 running fadeInDown;
  position: sticky;
  top: 0;
  width: 100%;
}

.filters {
  animation: 1s ease-in-out 0s normal none 1 running fadeInDown;
  background-color: white;
  padding: 1em 0;
  position: sticky;
  top: 68px;
  z-index: 2;
}

// Sticky part
.header-sticky {
  .ribbon {
    left: -79px;
    top: 4px;

    .badge {
      font-size: 15px;
      height: 35px;
      line-height: 35px;
    }
  }
}