/* Common */

.cursor-pointer {
  cursor: pointer;
}


/* General */

body {
  height: auto;
}

.fr-tags-group > li {
  line-height: 0rem;
}

.text-right {
  text-align: right;
}

.filters {
  background-color: white;
  border-bottom: 2px solid #000;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.actions-menu {
  background-color: #eee;
  border-bottom: 2px solid #000;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 200px;
  transition: all 0.3s;
  white-space: nowrap;
  width: 40px;
  z-index: 3;

  &:hover {
    width: 200px !important;
  }

  .button {
    display: block;
  }

  .selected-item {
    background-color: #eee;

    .number {
      color: #777;
      display: inline-block;
      font-weight: bolder;
      padding: 4px;
      padding-left: 11px;
      width: 40px;
    }
  }

  .selected {
    background-color: #eee;
  }
}

.action-menu-fixed {
  width: 200px;
}


/* DataTable - PaginatorLeft */

.p-paginator-left-content {
  width: 60%;

  .before-toggle {
    align-items: center;
    color: #161616;
    display: flex;
    font-size: 17px;
    height: 100%;
    justify-content: right;
    padding-bottom: 5px;
    padding-right: 5px;
  }
}

.fr-toggle input[type=checkbox]:checked~.fr-toggle__label[data-fr-unchecked-label][data-fr-checked-label]:before  {
  content: "";
  margin-right: 5px;
}
.fr-toggle label[data-fr-unchecked-label][data-fr-checked-label]:before {
  margin: 0;
}