/* Common */

.cursor-pointer {
  cursor: pointer;
}

.d-block {
  display: block;
}

.ellipsis {
  list-style-position: inside;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-none {
  list-style: none;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.vertical-middle {
  vertical-align: middle;
}


/* General */
html, body {
  height: 100%;
}

.filters {
  background-color: white;
  border-bottom: 2px solid #000;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.mentions .actions-menu {
  &:hover {
    width: 420px !important;
  }

  &.action-menu-fixed {
    width: 420px;
  }
}

// Reduce margin width
// @media (min-width: 100em) {
//   .fr-container, .fr-container-sm, .fr-container-md, .fr-container-lg {
//       max-width: 100rem;
//   }
// }


/* DataTable - PaginatorLeft */

.p-paginator-left-content {
  width: 60%;

  .before-toggle {
    align-items: center;
    color: #161616;
    display: flex;
    font-size: 17px;
    height: 100%;
    justify-content: right;
    padding-bottom: 5px;
    padding-right: 5px;
  }
}

.fr-toggle input[type=checkbox]:checked~.fr-toggle__label[data-fr-unchecked-label][data-fr-checked-label]:before  {
  content: "";
  margin-right: 5px;
}

.fr-toggle label[data-fr-unchecked-label][data-fr-checked-label]:before {
  margin: 0;
}


/* Pge Mentions */
.mentions {
  .hint {
    color: grey;
    font-size: .8em;
    font-style: italic;
    text-align: end;
  }

  .label {
    font-size: 1em;
    font-weight: bold;
    text-align: end;
  }
}


.box-info {
  background-color: #eee;
  border: 1px solid #000;
  box-shadow: 5px 5px 15px 0px rgba(50, 50, 50, 0.3);
  margin: 10px 0;
  padding: 10px;
}

.wm-font {
  font-family: 'Courier New', Courier, monospace;
}

.wm-bg {
  // background: linear-gradient(to right, #0e0e31, #1a1add);
  background-color: #fff;
}

.wm-message{
  background-color: #eee;
  padding: 15px;
  border: 1px solid #000;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 0px rgba(50, 50, 50, 0.3);
}

.wm-fit-content{
  min-height: 100%; /* real browsers */
  height: auto !important; /* real browsers */
  height: 100%; 
}

.wm-menu{
  min-height: fit-content;
  padding-top: 10px;
  
  .wm-title{
    background-color: #eeeeee;
    color: #222;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: #777 1px solid;
  }

  .wm-content{
    min-height: 80px;
  }

  .wm-text{
    color: white;
    padding: 5px;
    & span{
      font-size: 1.5em; 
      font-weight: bold;
    }
  }
  
  .wm-button {
    width: 90%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}

.wm-dot {
  border-radius: 10px;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 5px;
}

.wm-content {
  padding: 10px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
    
  .wm-external-actions {
    border: #777 1px solid;
    background-color: #eee;
    padding: 10px 0 0  10px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom: 1px solid #ddd;
  }
  .wm-internal-actions {
    border-bottom: #777 1px solid;
    border-left: #777 1px solid;
    border-right: #777 1px solid;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #eee;
  }
  
  .wm-list {
    background-color: #eee;
    list-style: none;
    border: #777 1px solid;
    padding-left: 1px;

    li {
      padding: 10px;
      border-bottom: 1px solid #ddd;
      font-size: 0.9rem;

    }
    .selected {
      background-color: #eae2e2;
    }
  }

  .wm-ror-badge{
    display: inline-flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    border-top-left-radius: 10px;
    span{
      border-radius: 10px;
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-left: 5px;        
      }
      div{
      margin-left: 5px;
      display: inline-block;
      background-color: #fff;
    }
  }
}

:root {
  --green-archipel: #00a99d;
  --purple-glycine: #8a2be2;
  --pink-tuile: #ff69b4;
  --green-menthe: #00ff7f;
  --brown-cafe-creme: #6f4e37;
  --beige-gris-galet: #d3d3d3;
}

.loader{
        display: inline-block;
        text-align: center;
        line-height: 86px;
        text-align: center;
        position: relative;
        padding: 0 48px;
        font-size: 28px;
        font-family: 'Courier New', Courier, monospace;
        color: #222;
        }
        .loader:before, .loader:after {
          content: "";
          display: block;
          width: 15px;
          height: 15px;
          background: currentColor;
          position: absolute;
          animation: load .7s infinite alternate ease-in-out;
          top: 0;
        }
        .loader:after {
          top: auto;
          bottom: 0;
        }
      @keyframes load {
        0% {
          left: 0;
          height: 43px;
          width: 15px;
          transform: translateX(0)
        }
        50% {
          height: 10px;
          width: 40px
        }
        100% {
          left: 100%;
          height: 43px;
          width: 15px;
          transform: translateX(-100%)
        }
      }